@using Microsoft.AspNetCore.Html;
@inherits RazorRenderer.BasePage<ChameleonForms.Templates.ChameleonFormsTwitterBootstrap3Template.Params.MessageParams>
@{@:      <div class="panel panel-@Model.MessageType.ToString().ToLower()">
}
@if (!string.IsNullOrEmpty(Model.Heading.ToHtmlString()))
{
          <div class="panel-heading"><h4 class="panel-title">@Model.Heading</h4></div>
}
@{@:          <div class="panel-body">
}
