@inherits RazorRenderer.BasePage<ChameleonForms.Templates.ChameleonFormsTwitterBootstrap3Template.Params.FieldConfigurationParams>
@if (Model.FieldConfiguration.Hint != null)
{<div class="help-block form-hint" id="@Model.FieldConfiguration.HintId">@Model.FieldConfiguration.Hint</div>}