@inherits RazorRenderer.BasePage<ChameleonForms.Templates.ChameleonFormsTwitterBootstrap3Template.Params.LabelParams>
@{
    var wrapLabel = !Model.HasLabel && !Model.IsCheckboxControl;
    if (wrapLabel)
    {
        @:<span class="control-label">
    }
    @Model.Label
    if (Model.DisplayDesignator && Model.IsRequired)
    {
        @Model.RequiredDesignator
    }
    if (wrapLabel)
    {
        @:</span>
    }
}