obj
*/obj
*/bin
*/deploy
*/deploy/*
_ReSharper.*
*/*.csproj.user
*/*.ccproj.user
*/*.build.csdef
*/*.transformed.csdef
*/*.transformed.cscfg
*.ReSharper.user
*.ReSharper
*.TeamCity.user
*.suo
*/*.cache
~$*
*~
*.log
PublishedWebsites
*/NhibernateProfiler*/tools
*/App_Data/_FileCache/
*/Content/Css/.sass-cache/
packages