@inherits RazorRenderer.BasePage<ChameleonForms.Templates.ChameleonFormsBootstrap4Template.Params.FieldConfigurationParams>
@foreach (var html in Model.FieldConfiguration.AppendedHtml){if (Model.IsInputGroup) {@Raw("<div class=\"input-group-append\"><span class=\"input-group-text\">")}@html@if(Model.IsInputGroup) {@Raw("</span></div>")}}