@inherits RazorRenderer.BasePage<ChameleonForms.Templates.ChameleonFormsDefaultTemplate.Params.FieldConfigurationParams>
@if (Model.FieldConfiguration.Hint != null)
{<div class="hint">@Model.FieldConfiguration.Hint</div>}