@inherits RazorRenderer.BasePage<ChameleonForms.Templates.ChameleonFormsDefaultTemplate.Params.FieldConfigurationParams>
@if (Model.FieldConfiguration.Hint != null)
{<div class="hint" id="@Model.FieldConfiguration.HintId">@Model.FieldConfiguration.Hint</div>}