@using ChameleonForms.Example.Forms
@using ChameleonForms.Example.Forms.Components
@model dynamic

@{
    ViewBag.Title = "Example Form 1";
}

<h1>Example Form 1</h1>

@using (var form = Html.BeginChameleonForm())
{
    using (var section = form.BeginSection())
    {
        
    }
}
