@using ChameleonForms.Templates.TwitterBootstrap3
@model ViewModelExample

@{
    ViewBag.Title = "Example Form 2";
}

@{
    Func<dynamic, IHtmlContent> InstructionalText = @<p>Leading instructional text.</p>;
}

<h1>Tag Helpers kitchen sink</h1>

<chameleon-form>
    @* Various incarnations of nested sections and fields and partials mixed in *@
    <form-section heading="Wassup" leading-html="InstructionalText">
        <p>Yo</p>
        <field for="ListId" add-class="asdf asf ew" label="awefawefEWAF #$%&" attr-data-test="wassup" append="aaa" as="RadioList" />
        <field for="Decimal" label="asdf" append="asdffff" step="1.2m">
            <field for="NullableInt"/>
            <partial name="_Child"/>
        </field>
        <form-section heading-html="InstructionalText">
            <field for="TextAreaField" />
            <field for="Child.ChildField"/>
            <partial name="_Child"/>
        </form-section>
        <partial name="_Child"/>
        <form-partial name="_Child2" for="Child"/>
    </form-section>
    <form-message heading="Heading" type="Action">
        <field-label for="UrlAsString" label="Overridden" />
        <field-element for="UrlAsString" add-class="addedclass" />
        <field-validation for="UrlAsString" fluent-config='fc  => fc.AddValidationClass("asdf")' />
    </form-message>
    <form-partial name="_Child2" for="Child"/>
    @* Mix and match helper syntax with tag helpers and vice versa *@
    @Html.GetChameleonForm().FieldElementFor(m => m.ListId)
    <field-element for="Boolean"/>
    @using (var s = Html.GetChameleonForm().BeginSection("Section from helper syntax"))
    {
        @s.FieldFor(m => m.SomeEnum)
        <field for="Boolean"/>
    }
    @* Navigation *@
    <form-navigation>
        <submit-button label="Submit" size="Large" emphasis-style="Info" icon="calendar" />
        <form-button label="Button" fluent-attrs='b => b.WithStyle(EmphasisStyle.Primary)' />
        <reset-button size="ExtraSmall" icon="person"><strong>Hello</strong> World! Reset</reset-button>
    </form-navigation>
</chameleon-form>

@* Not possible - compile error, model has to be the page model with tag helpers
    <chameleon-form enctype="EncType.UrlEncoded" action="@Url.Action("ChameleonForms", "Comparison")" method="Post" model="new SignupViewModel()">
        <section heading="asdf">
            <field for="FirstName" />
        </section>
    </chameleon-form>*@

<partial name="_OtherForm" model="new ComparisonController.SignupViewModel()" />
