@using ChameleonForms
@using ChameleonForms.Component
@model ChameleonForms.Example.Controllers.ViewModelExample

@{
    ViewBag.Title = "Null Model With List";
}

<h1>Null Model With List</h1>

@using (var f = Html.BeginChameleonForm())
{
    using (var s = f.BeginSection("Test"))
    {
        @s.FieldFor(m => m.ListId)
    }
}
