@model ViewModelExample

@{
    ViewBag.Title = "Partials - Tag Helpers";
}

<h1>Partials - Tag Helpers</h1>

<chameleon-form>
    <partial name="_ParentPartialTH" />
    <partial name="_BaseParentPartialTH" />
    <form-partial for="Child" name="_ChildPartialTH" />
    <form-partial for="BaseChild" name="_BaseChildPartialTH" />
    
    <form-section heading="This is in the parent view">
        <field for="Decimal" append="in parent view" />
        <partial name="_ParentPartialTH" />
        <partial name="_BaseParentPartialTH" />
        <field for="ListId" append="in parent view" />
        <form-partial for="Child" name="_ChildPartialTH" />
        <form-partial for="BaseChild" name="_BaseChildPartialTH" />
        <field for="SomeCheckbox" append="in parent view" />
    </form-section>
    
    <form-navigation>
        <button type="submit">Submit</button>
    </form-navigation>
</chameleon-form>
