@model ComparisonController.SignupViewModel

<chameleon-form action="@Url.Action("ChameleonForms", "Comparison")">
    <section heading="asdf">
        <field for="FirstName"></field>
    </section>
</chameleon-form>
