@model dynamic

@{
    ViewBag.Title = "ChameleonForms";
}

<h1>ChameleonForms</h1>

<ul>
    <li>@Html.ActionLink("Basic Example", "BasicExample", "ExampleForms")</li>
    <li>@Html.ActionLink("Form 1", "Form1", "ExampleForms")</li>
</ul>
