.navbar-brand img {
    height: 50px;
}
.clearfix {
  clear: both;
}
#home {
  padding-top: 35px;
  padding-bottom: 100px;
  color: #ffffff;
  font-family: "Segoe UI", Helvetica, serif;
  font-weight: 100;
  background-color: #000;
  background-image: url("../docs/bg-gr-v.png"),
    url("../docs/chameleon.jpg");
  background-attachment: scroll, scroll;
  background-position: left top, center -75px;
  background-repeat: repeat-y, no-repeat;
  background-size: contain, cover;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.logo-container {
  float: left;
}
.logo {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  line-height: 30px;
  color: #008000;
  font-size: 23px;
}
.logo img {
  height: 30px;
}
.menu {
  float: right;
}
.menu-item {
  display: inline-block;
}
.menu-item a {
  font-size: 15px;
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  border-radius: 5px;
}
.menu-item a:hover {
  color: #008800;
  background: #FFF;
}
.lead-title {
  margin: 150px 0 30px 0;
  font-size: 40px;
}
.sub-lead-title {
  max-width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #FFF;
  font-size: 20px;
}
.lead-btn {
  display: block;
  margin-top: 15px;
  padding: 10px;
  width: 190px;
  min-height: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: #008800;
  background-color: #FFF;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  font-weight: bold;
}
.lead-btn:active {
  background-color: #008800;
  color: #fff;
}
.lead-btn:hover {
  background-color: #004700;
  color: #fff;
}

@media(max-width: 1150px) {
  .lead-title {
    font-size: 35px;
  }
  .sub-lead-title {
    font-size: 18px;
  }
  .lead-title {
    margin-top: 100px;
  }
  #home {
    background-position: left top, center top;
  }
}

@media (max-width: 768px) {
  #home {
    margin: -30px -15px 0 -15px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-position: left top, center top;
  }
  .article {
    margin-top: 0!important;
  }
  .logo-container, .menu {
    float: none;
  }
  .lead-title {
    margin-top: 30px;
  }
  .menu {
    text-align: center;
  }
  .menu a:hover {
    background: none;
    color: #fff;
    text-decoration: underline;
  }
  .lead-title {
    font-size: 30px;
  }
  .sub-lead-title {
    font-size: 15px;
  }
}

@media(max-height: 800px) {
  #home {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .lead-title {
    margin-top: 50px;
  }
}

pre {
  background: #FDFDFD;
}

.hljs-string {
  color: #d14;
}

.home-buttons .btn {
  background: #008800;
  border: 0;
}

.home-buttons .btn:hover, .home-buttons .btn:active {
  background: #004700;
}


.code-header {
  box-sizing: content-box;
  background-color: #f2f2f2;
  color: #171717;
  display: flex;
  flex-direction: row;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  margin-top: 16px;
  min-height: 30px;
}

.tabGroup section[role="tabpanel"] .code-header {
  margin-left: -16px;
  margin-right: -16px;
}

.tabGroup section[role="tabpanel"] .code-header:first-child {
  margin-top: -16px;
}

.code-header > .language {
  padding: 2px 16px;
  flex-grow: 1;
  text-transform: uppercase;
  line-height: 26px;
}

.code-header > .action {
  position: relative;
  padding: 2px 10px;
  background-color: transparent;
  border: 0 solid #e3e3e3;
  border-left-width: 1px;
  color: #171717;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
}

.code-header .glyphicon {
  margin-right: 0.25em;
}

.code-header > .action:hover {
  background-color: #fafafa;
}

.code-header + pre {
  margin-top: 0;
  border: 1px solid #e3e3e3;
}

.code-header > .action .successful-copy-alert {
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  display: flex;
  background-color: #128712;
  outline-color: #fff;
  color: #fff;
}

.code-header > .action .successful-copy-alert.is-transparent {
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}
