<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
            .has-error .help-block.form-hint {
                color: #737373;
            }
            .input-group-addon.required {
                padding: 0 12px;
            }
            .input-group-addon.required em {
                display: inline-block;
                line-height: 32px;
                height: 32px;
                font-style: normal;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
        <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.chameleon.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.twitterbootstrap.js"></script>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>