<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/chameleonforms-twitterbootstrap.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.chameleon.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.twitterbootstrap.js"></script>
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>