<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/chameleonforms/chameleonforms-twitterbootstrap3.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap3/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/lib/chameleonforms/unobtrusive-date-validation.chameleonforms.js"></script>
    <script type="text/javascript" src="~/lib/chameleonforms/unobtrusive-twitterbootstrap3-validation.chameleonforms.js"></script>
</body>
</html>