<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/lib/bootstrap3/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/chameleonforms/chameleonforms-twitterbootstrap3.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/aspnetvalidation/aspnet-validation.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/aspnetvalidation/aspnet-validation.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-native/dist/bootstrap-native.min.js"></script>
    <script type="text/javascript" src="~/lib/chameleonforms/unobtrusive-date-validation.chameleonforms.js"></script>
</body>
</html>